.counter{
  /* width:100%; */
  /* height:98vh; */
}
.counter-wapper h1{
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
  font-family: "Manrope", sans-serif;

  font-family: "Press Start 2P", cursive;

  font-family: "PT Sans Narrow", sans-serif;

  font-family: "Special Elite", cursive;
  color: black;
}

.value h2{
  text-align: center;
  margin-left: 164%;
  margin-top: 80px;
  font-size: 50px;
  font-family: "Manrope", sans-serif;

  font-family: "Press Start 2P", cursive;

  font-family: "PT Sans Narrow", sans-serif;

  font-family: "Special Elite", cursive;
  color: black;
}
.counter-wapper .addd button{
  background-color: #2c5ab5bd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 120px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
 .addd button:hover {
  box-shadow: 0 12px 16px 0 rgba(6, 11, 55, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);}

  .counter-wapper .sub button{
    background-color: #2c5ab5bd; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 120px 2px; */
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
   .sub button:hover {
    box-shadow: 0 12px 16px 0 rgba(6, 11, 55, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
    /* .addd{
      float:left;
      padding-top: 30px;
      padding-left: 495px;
    }
    .sub{
      padding-right: 485px;
    } */
    .value-wapper{
      width:100%;
    }
    .value{
      width:30%;
    }
    .count{
      display: flex;
    /* margin-left:688px; */
    
    }